body {
    margin: Opx;
    padding: 0px;
    font-family: sans-serif;
}

nav {
    background-color: #057858;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .espace {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;

}

.icon_header {
    margin: 10px;
}

.menu {
    display: flex;
    margin-top: 25px;
    margin-right: 10px;
    text-align: right;
}

.menu, a {
    color: white;
    text-decoration: none;
    justify-content: space-between;
    margin: 0 10px;
}

.burger-menu {
    display: none;
}

.image-haut {
    height: auto;
    width: 100%;
}

.image-container {
    position: relative;
    width: 100%;
}

.image-container img {
    width: 100%;
    height: auto;
}

.text-over {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Couleur du texte */
    font-size: 50px; /* Taille de la police */
    border-radius: 5px;
}

.text-over2 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Couleur du texte */
    font-size: 24px; /* Taille de la police */  
    border-radius: 5px;
}

.text-centre {
    text-align: center;
    margin-top: 20px;
}

.ombre {
    padding: 20px;
    height: 90%;
    width: 90%;
    box-shadow: 0px 0px 5px grey;
    margin: 45px;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
}

.euro {
    margin: 20px;
    padding: 10px;
    border: 2px solid #737373;
    text-align: center;
    border-radius: 8px;
    width: 315px;
    height: 200px;
}

.euro:hover {
    background-color: #EDFEF6 ;
    border-color: #37BF1D;
}

.titre {
    font-size: 30px;
    font-weight: bold;
}

.periode {
    display: flex;
    margin: 10px;
    justify-content: center;
}

.bouton1 {
    margin: 10px;
    height: 45px;
    width: 117px;
    border: none;
    border-radius: 8px; 
    background-color: rgba(240, 240, 240, 1);
}

.bouton1:hover {
    background-color: #11B881 ;
    color: white;         
}

.bouton2 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
    padding-top: 13px;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: #DB2727;
    cursor: pointer;
}

.mission {
    width: 100%;
    height: 585px;
    background-color: #D7F3E5;
    display: flex;
}

.image-gauche {
    float: left;
    width: 628px;
    height: 446px;
    text-align: center;
    margin-left: 50px;
    margin-top: 5%;
    border-radius: 8px 0px 0px 8px;
}

.notre-mission h1 {
    color: black;
}

.notre-mission {
    background-color: white;
    color: #717781;
    width: 520px;
    height: 446px;
    overflow: hidden;
    margin-top: 5%;
    padding-left: 20px;
    border-radius: 0 8px 8px 0;
}

table {
    width: 100%;
    margin: auto;
}

tr, td {
    width: 100%;
    text-align: center;
}

.image-table {
    position: relative;
    width: 100%;
    max-width: 600px; /* Vous pouvez ajuster la largeur selon vos besoins */
}

.image-container-table img {
    width: 100%;
    height: auto;
}

.text-overlay-table {
    display: flex;
    text-align: left;
    position: absolute;
    top: 60%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 14px;
    padding: 10px;
}

.text-overlay-table2 {
    position: absolute;
    top: 85%;
    left: 15%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
}

.text-overlay-table3 {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
}

.text-overlay-table4 {
    position: absolute;
    top: 85%;
    left: 85%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
}

.text-centre {
    margin-top: 10px;
    padding-top: 30px;
}

.titre2 {
    text-align: center;
    margin: 20px;
    padding-top: 20px;
}

.mission-test {
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: #D7F3E5;
}



.test-questions {
    display: flex;
    background-color: white;
    border-radius: 8px;
    align-items: center;
    justify-content: space-between;
    margin: 10px;    
}

.left-div {
    background-color: #F3F4F6;
    border-radius: 8px;
    margin: 20px;
    width: 500px;
    height: 60px;
    display: flex;
    padding-left: 20px;
    justify-content: left;
    align-items: center;
}

.left-div:hover {
    background-color: #11B881;
    color: white;
}

.right-div {
    background-color: #F3F4F6;
    border-radius: 8px;
    margin: 20px;
    width: 500px;
    height: 60px;
    display: flex;
    padding-left: 20px;
    justify-content: left;
    align-items: center;
}

.right-div:hover {
    background-color: #11B881;
    color: white;
}

.impact {
    margin: 20px;
    padding: 10px;
    text-align: center;
    width: 315px;
    height: 200px;
}

.temoignage {
    margin: 20px;
    border-radius: 8px;
    text-align: left;
    justify-content: space-between;
    box-shadow: 0px 0px 5px grey;
}

.image-temoignage {
    width: 100%;
    height: auto;
}

.temoignage-text {
    margin: 10px;
}

.temoignage-gras {
    font-weight: bold;
}

footer {
    height: 100px;
    background-color: #1F2937;
}

.pied {
    display: flex;
    justify-content: space-between;
    color: white;
    margin: 20px;
}

.contact {
    justify-content: space-between;
}

.email {
    display: flex;
    align-items: center;
}

.email img {
    max-width: 30%;
    height: auto;
}

.figcaption {
    margin-left: 10px;
}

@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .menu {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .menu a {
        margin: 5px 0;
    }

    .burger-menu {
        display: block;
        cursor: pointer;
    }

    .container {
        flex-direction: column;
    }

    .text-over, .text-over2{
        display: none;
    }

    .euro {
        width: 90%;
        height: auto;
    }

    .mission {
        flex-direction: column;
        height: auto;
        align-items: center;
        text-align: center;
        padding: 20px;
    }

    .image-gauche {
        width: 100%;
        height: auto;
        margin-left: 0;
    }

    .notre-mission {
        width: 100%;
        padding: 20px;
        border-radius: 8px;
    }

    .image-table img {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .image-container-table {
        text-align: center;
        padding: 20px;
        width: 100%;
        height: auto;
    }

    .test-general {
        width: 90%;
        height: auto;
        margin: 20px auto;
    }

    .test-questions {
        flex-direction: column;
    }

    .left-div, .right-div {
        width: 90%;
        justify-content: center;
        text-align: center;
    }

    .temoignage {
        width: 90%;
        margin: 20px auto;
    }

    footer {
        height: 250px;
    }

    .pied {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .contact {
        flex-direction: column;
        align-items: center;
    }
}